/* Normalizado */
*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.body{
    margin-top:10vh;
}

/*         HEADER     */

header{
    margin-bottom: 15vh;
}
.logo{
    height: 100%;
}
.icoCarrito{
    background-color: #1b286e;
    margin: 15px 30px 15px 15px;
    box-sizing: border-box;
    align-items: center;
    max-width:120px;
}
.logoCarrito{
    
    max-height: 70% ;
    padding-left: 10px;
    padding-right: 10px;
    max-width:50px;
}
.navBar{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #3475a0;
    font-size: 20px;
    justify-content: space-between;
    padding: 0 15px;
    height: 10vh;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

/*   ESTILOS PARTICULARES   */

.flexRow {
    display: flex;
    flex-direction: row;
}
.flexCol {
    display: flex;
    flex-direction: column;
}
.negrita{
    font-weight: bold;
}
.textCenter{
    margin: 10px;
    font-size: 25px;
}
.centrado{
    text-align: center;
        background-color: rgb(191, 214, 208);
}

/*      ESTILOS POR ETIQUETAS       */

a{
    color:#2b2b2b;
}
p{
    padding:  5px 5px;
    margin: 5px;
}

/*      BOTONES      */

.boton, button{
    padding: 5px 5px;
    margin: 5px;
    border: 1px solid;
    color: black;
}
.boton:hover, button:hover {
    background-color: rgba(128, 128, 128, 0.493);
    border: 2px solid;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
}

/*         CARDS      */

.cards{
    width: 200px ;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    box-shadow: 5px 5px 5px rgb(128, 128, 128) ;
    border: 2px solid grey;
    background-color: whitesmoke;
    font-size: 15px;
}
.cards h3, .cards p{
    padding:  5px 5px;
}
.cards h4{
    padding-bottom: 5px;
}
.cardsDetalle{
    width: 80%;
    font-size: 25px;
    padding: 25px;
}
.cardsDetalle h3 {
    font-size: 40px;
}
.cardsDetalle p {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.cardsDetalle span{
    color: rgb(0, 216, 90);
    font-weight: bold;
}
.cardsDetalle .p{
    font-size: 18px;
    font-family:sans-serif;
}
.fotoProductos{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}
.itemList{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    margin: 30px 50px;
}

/*     CARDS VER DETALLE     */

.detail{
    align-items: center;
    padding-top:20px;
}
.anchoCount{
    background-color: rgb(43, 43, 151);
    color: white;
    padding: 6px 30px;
    margin-top: 10px;
    border-radius: 15px;
}
.anchoCount:hover{
    background-color: rgb(84, 84, 204);
    border: none;

}

/*      CART           */

th{
    border-top: 1px solid rgba(68, 64, 64, 0.959);
}
th, td{
    border-bottom: 2px solid rgba(68, 64, 64, 0.719);
    border-collapse: collapse;
    padding: 5px;
}

.contCart{
    height:100%;
    justify-content: space-around;
    align-items: bottom;
}
.botonCart{
    display: inline;

}

table{
    width: 80%;
    border: 2px solid rgb(68, 64, 64);
    border-collapse: collapse;
    margin: 60px;
    background-color:white;
}

.trCart{
    height:20px;
}
.trCart .fotoProductos{
    width:100px;
}
.cesto{
    border: none;
}

.displayNone{
    display:none;
}
.cesto:hover .displayNone{
    text-decoration: blue underline;
    color: blue;
    padding: 0 20px;
    position: absolute;
    display: inline-block;
}

.cesto:hover{
    border: 1px solid grey;
}

.botonHome{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: blue;
    border: 1px solid black;
    color: white;
    border-radius: 45px;
}
.margin20{
    margin:15px;
}
.colorRojo{
    color:red;
    font-weight: bold;
    margin:15px;
    border:2px solid red;
    
}
.colorRojo:hover{
    border:2px solid red;
    background-color:inherit;  
    cursor:default;
}
.total{
    color: green;
    font-size: 25px;
    text-align:end;
    position: end;
}
